// Number型
$number1: 100;
$number2: 0.8;
$number3: 15px;
$number4: 1.2em;
$number5: 90%;

// Color型
$color1: red;
$color2: #f00;
$color3: rgba(255, 0, 0, 1);

// String型
$string1: "foo";
$string2: 'bar';
$string3: fiz;
$string4: auto;
$string5: sans-serif;

// Boolean型
$boolean1: true;
$boolean2: false;

// List型
$list1: 1px 10px 15px;
$list2: Helvetica, Arial, sans-serif;
$list3: (dog, cat);
$list4: [dog, cat];

// Map型
$color: (
  text: #333,
  border: #666,
  bg: #ededed
)

// Function型
get-function("rgb");
