$list1: pen, apple, pineapple;
$list2: apple, pen;

.length {
  z-index: length($list1);
}

.nth {
  content: nth($list1, 2);
}

.join {
  content: join($list1, $list2);
}

.append {
  content: append($list1, apple);
}

$map: (
  bgcolor: #ededed,
  fontcolor: #ff0000,
  bdcolor: #000000
);

.mapget {
  color: map-get($map, fontcolor);
}
