// 比較演算子
$A: 10;
$B: 20;

.example1 {
  @if $A == $B {
    content: "AとBは同じ";
  } @else if $A > $B {
    content: "AはBより大きい";
  } @else if $A < $B {
    content: "AはBより小さい";
  } @else if $A >= $B {
    content: "AはB以上";
  } @else if $A <= $B {
    content: "AはB以下";
  } @else if $A != $B {
    content: "AとBは等しくない";
  }
}

// 論理演算子
.example2 {
  @if $A > 10 and $A < 20 {
    content: "and: かつ";
  } @else if $B == 10 or $B == 20 {
    content: "or: または";
  } @else if not ($A == $B) {
    content: "not: 否定";
  }
}
